.footer {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
    margin-top: 92px;
    font-size: 14px;
}


  @media screen and (max-width: 1024px) and (min-width: 545px) {
    .footer {
        margin-top: 90px;
        margin-bottom: 25px;
    }
    }

@media screen and (max-width: 544px) {
    .footer {
        margin-top: 65px;
    }
}