.gallery-pictures {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    padding-left: 53px;
    padding-right: 43px;
    padding-bottom: 92px;
    margin: 0;
}

.gallery-pictures img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

@media screen and (max-width: 1024px) and (min-width: 545px) {
    .gallery-pictures {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        padding-left: 24px;
        padding-right: 24px;
        padding-bottom: 88px;
        grid-auto-rows: 264px;
    }

    .gallery-pictures img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
}

@media screen and (max-width: 544px) {
    .gallery-pictures {
        grid-template-columns: 1fr;
        grid-auto-rows: 216px;
        gap: 12px;
        padding-top: 0px;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 62px;
    } 
}